html, body, #content{
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
}

#view-container{
  display: flex;
  justify-content: center;
}

#view-content{
  display: flex;
  flex-direction: column;
}