@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, #content{
  height: 100%;
}

ul, li{
  list-style: none;
}

body, ul, li, p{
  padding: 0;
  margin: 0;
}

:root{
  --stone-200: #e7e5e4;
  font-family: 'Poppins', sans-serif;
}

#content{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: min-content;
  grid-template-areas:
  "header header"
  "sidebar view"
  ;
}

#view-container{
  display: flex;
  justify-content: center;
  grid-area: view;
}

#view-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#view-header-content h1{
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#sidebar-content{
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#sidebar-container{
  grid-area: sidebar;
}

#filter-inbox{
  display: flex;
  gap: 1rem;
  padding: 5px;
  background-color: var(--stone-200);
  border-radius: 5px;
}

#header-container{
  background-color: #be123c;
  grid-area: header;
}

#header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

#project-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#bottom-menu-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#add-task-content{
  display: flex;
}

#add-task-content:hover{
  cursor: pointer;
}

#add-task-image{
  background-image: url(/src/assets/imgs/plus.png);
  background-size: contain;
  width: 24px;
  height: 24px;
}

.project-list-item{
  border-radius: 5px;
  padding: 5px;
}

.todo-list-item{
  display: flex;
}

.checkbox{
  background-image: url(/src/assets/imgs/todo-unchecked.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.checkbox:hover{
  background-image: url(/src/assets/imgs/todo-checked.png);
  cursor: pointer;
}

.inbox-image{
  background-image: url(/src/assets/imgs/inbox.png);
  background-size: contain;
  width: 24px;
  height: 24px;
}

.hover-stone-200:hover{
  background-color: var(--stone-200);
  cursor: pointer;
}
